.post-count {
    display: flex;
    gap: 5px;
    align-items: center;
    .post-count__icon {
        font-size: 1.5em;
        color: #6fa5f0;
        &.active,
        &:hover {
            color: #0465ea;
            text-decoration: underline;
        }
    }
}
