.research-post-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    .bg {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &.hidden {
        display: none;
    }
    .post-body {
        border-radius: 20px;
        background-color: white;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        min-width: 70%;
        .ant-col-16 {
            max-width: none;
        }
    }
}
